

<!-- <p>{{'investment'|slice:6:8}}</p> -->



<div>
  <p>{{username}}</p>
  <p>{{num}}</p>
</div>

<!-- Conditional Rendering -->

@if(isAdmin){
  <p>I an admin!</p>
}
@else{
  <p>I am not an admin.</p>
}

<!-- <p *ngIf="isAdmin">You are correct</p>


  
<p >You are not correct</p> -->

<!-- Loop Rendering -->
@for(user of users; track user){
  <p>{{user}}</p>
}

@for(student of students; track student.id){

  <div>
    <p>{{student.id}}. {{student.name}}</p>
    <p>{{student.dept}}</p>
  </div>
}


<app-home></app-home>
<router-outlet></router-outlet>
